<!-- jquery vendor -->
<script src="/assets/js/lib/jquery.min.js"></script>
<script src="/assets/js/lib/jquery.nanoscroller.min.js"></script>
<!-- nano scroller -->
<script src="/assets/js/lib/menubar/sidebar.js"></script>
<script src="/assets/js/lib/preloader/pace.min.js"></script>
<!-- sidebar -->

<script src="/assets/js/lib/bootstrap.min.js"></script>
<script src="/assets/js/scripts.js"></script>
<!-- bootstrap -->

<!-- 日期时间 -->
<script src="/assets/js/lib/calendar-2/moment.latest.min.js"></script>
<script src="/assets/js/lib/calendar-2/pignose.calendar.min.js"></script>
<script src="/assets/js/lib/calendar-2/pignose.init.js"></script>
<!-- 天气 -->
<!--<script src="/assets/js/lib/weather/jquery.simpleWeather.min.js"></script>
<script src="/assets/js/lib/weather/weather-init.js"></script>-->
<!-- 进度条 -->
<script src="/assets/js/lib/circle-progress/circle-progress.min.js"></script>
<script src="/assets/js/lib/circle-progress/circle-progress-init.js"></script>
<!--
图表
<script src="/assets/js/lib/chartist/chartist.min.js"></script>
<script src="/assets/js/lib/sparklinechart/jquery.sparkline.min.js"></script>
<script src="/assets/js/lib/sparklinechart/sparkline.init.js"></script>
-->
<!-- 幻灯片 -->
<script src="/assets/js/lib/owl-carousel/owl.carousel.min.js"></script>
<script src="/assets/js/lib/owl-carousel/owl.carousel-init.js"></script>
<!-- script init-->
<!--<script src="/assets/js/dashboard2.js"></script>-->

<script src="/assets/js/tellsea.utils.js"></script>
<script src="/assets/js/lib/toastr.min.js"></script>
<script src="/assets/js/lib/ztree/jquery.ztree.core.min.js"></script>
<script src="/assets/js/lib/ztree/jquery.ztree.excheck.min.js"></script>
<script src="/assets/js/lib/ztree/jquery.ztree.exedit.min.js"></script>
<script>
    $(function () {
        //初始化消息提示位置
        toastr.options.positionClass = 'toast-center-center';

        $("ul li a").each(function () {
            $this = $(this);
            if ($this[0].href == String(window.location)) {
                $this.addClass("active");
            }
        });
    });
</script>
