<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <div th:replace="/common/head"></div>
</head>

<body>

<div class="content-wrap">
    <div class="main">
        <div class="container-fluid">
            <section id="main-content">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="card">
                            <div class="card-title">
                                <h4>个人信息</h4>
                            </div>
                            <div class="card-body">
                                <div class="user-profile">
                                    <div class="row">
                                        <div class="col-lg-4">
                                            <div class="user-photo m-b-30">
                                                <img class="img-fluid" th:src="${session.activeUser.avatar}" alt="">
                                                <!--<img class="img-fluid" src="assets/images/user-profile.jpg" alt="" />-->
                                            </div>
                                            <div class="user-send-message">
                                                <span class="btn btn-primary green fileinput-button" style="background-color: #5873fe;">
                                                    <i class="ti-upload"></i> 上传头像
                                                  <input type="file" name="files[]" multiple="">
                                                  </span>
                                            </div>
                                        </div>
                                        <div class="col-lg-8">
                                            <div class="user-profile-name" th:text="${session.activeUser.username}"></div>
                                            <div class="user-Location">
                                                <i class="ti-location-pin"></i></div>
                                            <div class="user-job-title" th:switch="${session.activeUser.sex}">
                                                <span th:case="0" class="color-pink">系统认证：是一个漂亮的女孩子呀</span>
                                                <span th:case="1" class="color-primary">系统认证：是一个帅气的男孩子哟</span>
                                            </div>
                                            <div class="custom-tab user-profile-tab">
                                                <ul class="nav nav-tabs" role="tablist">
                                                    <li role="presentation" class="active">
                                                        <a href="#1" aria-controls="1" role="tab" data-toggle="tab">About</a>
                                                    </li>
                                                </ul>
                                                <div class="tab-content">
                                                    <div role="tabpanel" class="tab-pane active" id="1">
                                                        <div class="contact-information">
                                                            <h4>基本信息</h4>
                                                            <div class="phone-content">
                                                                <span class="contact-title">号码</span>
                                                                <span class="phone-number" th:text="${session.activeUser.phone}"></span>
                                                            </div>
                                                            <div class="address-content">
                                                                <span class="contact-title">我的简介</span>
                                                                <span class="mail-address" th:text="${session.activeUser.description}"></span>
                                                            </div>
                                                        </div>
                                                        <div class="basic-information">
                                                            <h4>账号信息</h4>
                                                            <div class="birthday-content">
                                                                <span class="contact-title">账号状态</span>
                                                                <span class="birth-date">
                                                                    <span th:if="${session.activeUser.status}" class="badge badge-success">有效</span>
                                                                    <span th:if="!${session.activeUser.status}" class="badge badge-danger">锁定</span>
                                                                </span>
                                                            </div>
                                                            <div class="gender-content">
                                                                <span class="contact-title">创建时间</span>
                                                                <span class="gender" th:text="${#dates.format(session.activeUser.createTime, 'yyyy-MM-dd HH:mm:ss')}"></span>
                                                            </div>
                                                            <div class="gender-content">
                                                                <span class="contact-title">最后一次修改时间</span>
                                                                <span class="gender" th:text="${#dates.format(session.activeUser.modifyTime, 'yyyy-MM-dd HH:mm:ss')}"></span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="user-send-message">
                                                <button class="btn btn-primary" type="button">
                                                    <i class="ti-pencil"></i> 修改个人信息</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <div th:replace="/common/footer"></div>
        </div>
    </div>
</div>

</body>
<div th:replace="/common/js"></div>
</html>
