<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <div th:replace="/common/head"></div>
</head>

<body>

<div class="content-wrap">
    <div class="main">
        <div class="container-fluid">
            <div class="row justify-content-center">
                <div class="col-lg-6">
                    <div class="login-content">
                        <div class="login-form">
                            <form method="post">
                                <h4>修改密码</h4>
                                <div class="form-group">
                                    <label>旧密码</label>
                                    <input type="password" class="form-control" name="oldPwd" placeholder="Old Password">
                                </div>
                                <div class="form-group">
                                    <label>新密码</label>
                                    <input type="password" class="form-control" name="NewPwd" placeholder="New Password">
                                </div>
                                <div class="form-group">
                                    <label>确认新密码</label>
                                    <input type="password" class="form-control" name="ConPwd" placeholder="Confirm password">
                                </div>
                                <button type="button" class="btn btn-primary btn-flat m-b-30 m-t-30" onclick="login()">更新密码</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

            <div th:replace="/common/footer"></div>
        </div>
    </div>
</div>

</body>
<div th:replace="/common/js"></div>
</html>
