<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <div th:replace="/common/head"></div>
</head>

<body>

<div class="content-wrap">
    <div class="main">
        <div class="container-fluid">
            <section id="main-content">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="card">
                            <div class="card-title">
                                <h4>登录日志</h4>
                            </div>
                            <div class="card-body">
                                <div class="table-responsive">
                                    <table class="table table-striped">
                                        <thead>
                                        <tr>
                                            <th>序号</th>
                                            <th>用户名</th>
                                            <th>IP地址</th>
                                            <th>位置：国家|大区|省份|城市|运营商</th>
                                            <th>设备名称</th>
                                            <th>创建时间</th>
                                        </thead>
                                        <tbody>
                                        <div th:each="loginLog : ${pageInfo.list}">
                                            <tr>
                                                <td th:text="${loginLog.id}"></td>
                                                <td th:text="${loginLog.username}"></td>
                                                <td th:text="${loginLog.ip}"></td>
                                                <td th:text="${loginLog.location}"></td>
                                                <td th:text="${loginLog.device}"></td>
                                                <td th:text="${#dates.format(loginLog.createTime, 'yyyy-MM-dd HH:mm:ss')}"></td>
                                            </tr>
                                        </div>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <nav aria-label="Page navigation">
                                <ul class="pagination justify-content-center">
                                    <li class="page-item">
                                        <a class="page-link" href="/loginLog/selectAll?pn=1">首页</a>
                                    </li>
                                    <li class="page-item" th:if="${pageInfo.hasPreviousPage }">
                                        <a class="page-link" th:href="'/loginLog/selectAll?pn=' + ${pageInfo.pageNum-1 }" aria-label="Previous">
                                            <span aria-hidden="true">上一页</span>
                                        </a>
                                    </li>
                                    <li class="page-item" th:each="page_Num : ${pageInfo.navigatepageNums }"
                                        th:class="${page_Num == pageInfo.pageNum }?'active' : ''">
                                        <a class="page-link" th:href="'/loginLog/selectAll?pn=' + ${page_Num }" th:text="${page_Num }"></a>
                                    </li>
                                    <li class="page-item" th:if="${pageInfo.hasNextPage }">
                                        <a class="page-link" th:href="'/loginLog/selectAll?pn=' + ${pageInfo.pageNum+1}" aria-label="Next">
                                            <span aria-hidden="true">下一页</span>
                                        </a>
                                    </li>
                                    <li class="page-item">
                                        <a class="page-link" th:href="'/loginLog/selectAll?pn=' + ${pageInfo.pages}">末页</a>
                                    </li>
                                </ul>
                            </nav>
                            <p th:text="'当前第：' + ${pageInfo.pageNum } + '页，总共：' + ${pageInfo.pages } + '页，总共：' + ${pageInfo.total } + '条记录'"></p>
                        </div>
                    </div>
                </div>
            </section>

            <div th:replace="/common/footer"></div>
        </div>
    </div>
</div>

</body>
<div th:replace="/common/js"></div>
</html>
