<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <div th:replace="/common/head"></div>
</head>

<body>

<div class="content-wrap">
    <div class="main">
        <div class="container-fluid">
            <section id="main-content">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="card">
                            <div class="card-title">
                                <h4>在线用户</h4>
                            </div>
                            <div class="card-body">
                                <div class="table-responsive">
                                    <table class="table table-striped">
                                        <thead>
                                        <tr>
                                            <th>用户名</th>
                                            <th>SessionID</th>
                                            <th>登录时间</th>
                                            <th>最后访问时间</th>
                                            <th>IP地址</th>
                                            <th>地理位置</th>
                                            <th>状态</th>
                                            <th>操作</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <div th:each="onlineUser : ${onlineUserList}">
                                            <tr>
                                                <td th:text="${onlineUser.username}"></td>
                                                <td th:text="${onlineUser.id}"></td>
                                                <td th:text="${onlineUser.startTime}"></td>
                                                <td th:text="${onlineUser.endTime}"></td>
                                                <td th:text="${onlineUser.host}"></td>
                                                <td th:text="${onlineUser.address}"></td>
                                                <td th:text="${onlineUser.status}"></td>
                                                <td>
                                                    <span th:if="${onlineUser.status} eq 0" class="badge badge-success">在线</span>
                                                    <span th:if="${onlineUser.status} eq 1" class="badge badge-danger">超时</span>
                                                </td>
                                                <td>
                                                    <button type="button" class="btn btn-sm btn-info"
                                                            th:onclick="'javascript:showArticle(' + ${onlineUser.id} + ')'">分配权限
                                                    </button>
                                                    <button type="button" class="btn btn-sm btn-success"
                                                            th:onclick="'javascript:editArticle(' + ${onlineUser.id} + ')'">编 辑
                                                    </button>
                                                    <button type="button" class="btn btn-sm btn-danger"
                                                            th:onclick="'javascript:deleteArticle(' + ${onlineUser.id} + ')'">删 除
                                                    </button>
                                                </td>
                                            </tr>
                                        </div>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <div th:replace="/common/footer"></div>
        </div>
    </div>
</div>

</body>
<div th:replace="/common/js"></div>
</html>
